//$base-color: #729ebf;
$base-color: #f38429;

$font-color: #ccd;
//$font-family: 'Roboto', sans-serif; //UI lab
//$font-size: 12px;

$dark-bg0: #000;
$dark-bg1: #272727;
//$dark-bg1: #2f2f2f;
$dark-bg2: #3b3b3b;
$dark-bg3: #474747;
$dark-bg4: #535353;
