@import '../_config.scss';

$window-base-color: $dark-bg1;
$window-background-color: $dark-bg1;
$window-body-color: $dark-bg1;
$window-body-border-color: $dark-bg1;

$window-header-color: $font-color;
