@import '../_config.scss';

$grid-row-cell-color: $font-color;

$grid-body-background-color: $dark-bg1;
$grid-row-cell-border-color: $dark-bg2;

$grid-row-cell-background-color: $dark-bg2;
$grid-cell-special-background-color: $dark-bg2;

$grid-row-cell-over-background-color: $dark-bg1;
$grid-cell-special-over-background-color: $dark-bg1;
$grid-row-cell-over-border-color: $dark-bg1;

$grid-cell-selected-color: lighten($font-color,40%);
$grid-row-cell-selected-color: lighten($font-color,40%);
$grid-row-cell-selected-background-color: $dark-bg4;
$grid-cell-selected-background-color: $dark-bg4;

$grid-cell-selected-border-color: $dark-bg4;
$grid-row-cell-selected-border-color: $dark-bg4;
