@import '../_config.scss';

$button-toolbar-color: darken($font-color,20%);
$button-toolbar-color-over: $font-color;

$button-toolbar-glyph-color : darken($font-color,20%);
$button-toolbar-glyph-color-over : $font-color; //doesn't exist :(

$button-toolbar-background-color: $dark-bg2;
$button-toolbar-background-color-disabled: $dark-bg2;
$button-toolbar-background-color-focus: $dark-bg2;
$button-toolbar-background-color-focus-over: $dark-bg2;
$button-toolbar-background-color-over: $dark-bg3;

$button-toolbar-border-color-over: $dark-bg2;
$button-toolbar-border-color-focus-over: $dark-bg2;
