@import '../_config.scss';

$menu-background-color: $dark-bg1;
$menu-border-color: $dark-bg2;

$menu-item-active-background-color: $dark-bg4;
$menu-item-active-border-color: $dark-bg2;

$menu-text-color: $font-color;
