@import '../../_config.scss';

$grid-column-header-color: $font-color;

$grid-header-background-color: $dark-bg1;
$grid-header-background-gradient: none;
$grid-header-border-color: $dark-bg1;

$grid-header-open-background-color: $dark-bg1;
$grid-header-over-background-color: $dark-bg1;
//$grid-header-over-background-gradient
$grid-header-trigger-background-color: $dark-bg1;
$grid-header-trigger-background-color-open: $dark-bg1;

