@import "normalize";
@import "compass/css3";

$body-color: #333;
$muted-color: #888;

html, body {
	color: $body-color;
	font-weight: 300;
	line-height: 1.4;
	margin: 0;
	padding: 0;
}

.muted {
	color: $muted-color;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 1em 2em;
}

.workday-header {
	@include box-align(end);
	@include display-box;
	
	border-bottom: 1px solid #ccc;
	padding: .5em;
}

.workday-title {
	font-weight: normal;
	margin: 0 1em 0 0;

	strong {
		color: $body-color;
	}

	&::before {
		content: '\25be\00a0';
		display: inline-block;
		width: 1em;
		
		.workday.collapsed & {
			content: '\25b8\00a0';
		}
	}
}

.workday-grouping-options {
	@include box-flex(1);
}

.workday-change-summary {
	color: $muted-color;
	margin-right: 1em;
}

.count {
	color: $muted-color;
	
	.numeral {
		font-weight: inherit;
	}
	
	& + .count {
		margin-left: .5em;
	}
}

.grouping-option {
	cursor: pointer;

	input {
		display: none;
	}
	
	img {
		opacity: .5;
	}
	
	:checked + img {
		opacity: 1;
	}
}

.workday-users {
	margin: 0;
	padding: 0;
}

.workday-user {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	
	.user-avatar {
		margin-bottom: -5px;
	}
}

.activity-groups {
}

.activity-group {
	margin: 1em 0;
	
	&.collapsed {
		.log-items {
			display: none;
		}
	}
}

.group-title {
	display: inline-block;
	font-weight: inherit;
	margin: 0 1em 0 0;
	
	.group-image {
		margin: 0 .25em;
		vertical-align: middle;
	}
		
	.group-name {
		margin: 0 .25em;
	}

	&::before {
		content: '\25be\00a0';
		display: inline-block;
		width: 1em;
		
		.activity-group.collapsed & {
			content: '\25b8\00a0';
		}
	}
}

.group-change-summary {
	display: inline-block;
}

.log-items {
	padding: 0;
}

.log-item {
	padding: .5em;
	padding-left: 4.125em;
	
	&:hover {
		background: #eee;
	}
}

.log-item-verb {
	font-size: small;
	font-weight: bold;
	margin-right: 1em;
	
	&.created { color: #080; }
	&.edited  { color: #05c; }
	&.deleted { color: #c00; }
}

.file-path {
	color: mix($muted-color, $body-color);
}

.file-name {
	margin-left: .125em;
	text-decoration: none;
}

.log-item-actions {
	display: inline-block;
	margin-left: .5em;
}

.log-item-action {
	color: $muted-color;
	font-size: small;
}

.log-item-info {
	color: $muted-color;
	font-size: small;
	
	& > * {
		margin-right: .5em;
		
		&:empty {
			margin: 0;
		}
	}
}